/*
Rejestracja
*/



html{
    background-color: #5465c6;
    font-size: 17px;
    padding-left: 150px;
}
select{
    font-size: 17px;
}
input{
    font-size: 17px;
    
}
p{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(83, 216, 127);
}